*
{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header
{
    background-color:#1f2236;
    width:100%;
    height:178px;
}

header img
{
    float:left;
    margin-left: 80px;
    width: 85%;
}

a, a:link, a:visited 
{
    color: white;
    text-decoration: none;
    margin-left: 28px;
}

#topnavLaptop
{
    margin-top: 35px;   
    display: flex;
    color:white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-right: 70px;
    letter-spacing: 0.04em;
    font-family: 'Rokkitt', serif;
    font-weight: semibold;

}


#border 
{   
    margin-top: 65px;   
    border-bottom:1px solid rgba(255, 255, 255, 0.372); /* Den lille linje i bunden. */
}

#bottomnavLaptop
{
    margin-top: 10px;   
    display: flex;
    justify-content: space-around;
    color:white;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-right: 70px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: 'Rokkitt', serif;
}

#billede
{
    background-image:url("images/hold.jpg");
    background-size:cover;
    height: 700px;
    color: white;
    font-family: 'Rokkitt', serif;
}


main h1
{
    font-size: 30pt;
    margin-left: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 100px;
}

main hr
{
    margin-left: 35px;
    margin-right: 35px;
}

.row1, .row2 /*Hvad der skal ske for begge rækker*/
{
    align-items:center;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
}

.row1>div, .row2>div /*Hvad der skal ske for begge rækker*/
{
    width: 30%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.row1 > div:first-child /*række 1 billede nr.1 */
{
    width:70%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/man.png");
    
}
.row1 > div:nth-child(2) /*række 1 billede nr.2 */
{
    width:30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/girls.png");
}
.row1 > div:nth-child(3) /*række 1 billede nr.3 */
{
    width:30%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ball.png"); /*billedet mørkere*/
}

/*--------*/

.row2 > div:first-child /*række 2 billede nr.1 */
{
    width:30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/messi.png");
}

.row2 > div:nth-child(2) /*række 2 billede nr.2 */
{
    width:70%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/play.jpeg");
}

.row2 > div:nth-child(3) /*række 2 billede nr.3 */
{
    width:30%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ronaldo.jpeg");
}
/*--------*/

/*teksten i boksene*/
#nyhed
{
    font-size: 10pt;
    color: white;
    font-weight: bold;
    padding-left: 25px;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#cardtopic
{
    font-size: 15pt;
    color: white;
    font-weight: bold;
    padding-left: 25px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;

}



/*Hvad der sker når vinduet gøres mindre*/
@media only screen and (max-width: 768px ) 
{ 
    .row1,.row2
    {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /*fortæller at billedet fortsat skal være 100% selvom screen kommer under 768px*/
    .row1 > div,.row2 > div 
    {
        width: 100%;
    }

    .row1 > div:first-child,.row2 > div:first-child
    {
        width: 100%;
    }

    .row1 > div:nth-child(2),.row2 > div:nth-child(2)
    {
        width: 100%;
    }

    .row1 > div:nth-child(3),.row2 > div:nth-child(3)
    {
        width: 100%;
    }
}

/*Billedet highlighest når man hover*/
 .row1 div:hover, .row2 div:hover
{
    filter: brightness(150%);
}

/*MOBIL*/

@media screen and (max-width:910px)
{
    /*Distribuer elementer anderledes:*/
    header{
        justify-content:space-between ;
        padding-left:10px;
        padding-right:10px;
    }
    
    /* Skjul laptopmenuen. */
    #bottomnavLaptop, #topnavLaptop 
    {
        display:none; 
    }

    /* Burgermenuen skal have en bredde */
    #navMobile 
    { 
        width:50px;
    }

    /* Logoet skal være mindre på mobil. */
    #logo 
    { 
        width:80px;
    }    


}

/*LAPTOP*/

@media screen and (min-width: 910px)
{

    #logo {
        width:200px;
        position:relative;
        top:40px;
    }

    /* Skjul burger.*/
    #navMobile{
        display:none;
    }

    /* laptop menu */

    #topnavLaptop 
    {
        margin-top: 35px;   
        display: flex;
        color:white;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
        margin-right: 70px;
        letter-spacing: 0.04em;
        font-family: 'Rokkitt', serif;
        font-weight: semibold;
    }

    #bottomnavLaptop
    {
        margin-top: 10px;   
        display: flex;
        justify-content: space-around;
        color:white;
        font-size: 26px;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
        margin-right: 70px;
        letter-spacing: 0.05em;
        font-weight: bold;
        font-family: 'Rokkitt', serif;
    }
}







